.hidden {
    opacity: 0;
    } 

.faq-line-plus {
    transform-origin: center;
}

.faq-circle {
    transform: rotate(-90deg);
    transform-origin: center;
  }

.close_button-wrap{
    transform: translate(-50%, -50%);
}